@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,900&display=swap');


.headerBackground {
    background-color: #3E2723;
}

.div-img img {
    width: 90rem;
    height: auto;
}

.div-img1 img {
    width: 2rem;
    height: auto;
}

.div-img2 img {
    width: 1.5rem;
    height: auto;
}
.title{
    color: white;
    font-size: 2rem;
}

.marginMention {
    margin-left: 10rem;
}

.marginCoordonéesMobile {
    margin-top: 1.8rem;
}

.footer {
    background-color: #6A4F4B;
}

h1 {
    font-size: 4rem;
}

.h1Mobile {
    font-size: 1rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.contactInformationSize {
    font-size: 2rem;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
    color: #707070;
}

p {
    font-size: 1.2rem;
    padding-right: 6rem;
    color: #707070;
}

.pMobile {
    font-size: 0.7rem;
    padding-left: 3.2rem;
    color: #707070;
}

.paddingContainer {
    padding-bottom: 13rem;
    margin-bottom: 5rem;
}

.paddingMobile {
    padding-bottom: 1.8rem;
    margin-bottom: 5rem;
}

.burger-menu {
    position: absolute;
    width: 20rem;
    top: 4rem;
    right: 0;
    z-index: 20;
}

.burger-menu ul {
    position: relative;
    background-color: white;
    width: 20rem;
    position: right;
}

.burger-menu li {
    list-style: none;
    color: #3E2723;
}

.bg-pastery{
    background-color: #3E2723;
}