@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,900&display=swap');

body {
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

.headerBackground {
    background-color: #3E2723;
}

.div-img img {
    width: 30rem;
    height: auto;
    margin-top: 3.5rem;
}

.div-img1 img {
    width: 2rem;
    height: auto;
}

.div-img2 img {
    width: 1.5rem;
    height: auto;
}

.marginMention {
    margin-left: 10rem;
}

.footer {
    background-color: #6A4F4B;
}

h1 {
    font-size: 4rem;
}

.presentationSize {
    font-size: 0.6rem;
}

.burger-menu {
    position: absolute;
    width: 20rem;
    top: 4rem;
    right: 0;
    z-index: 20;
}

.burger-menu ul {
    position: relative;
    background-color: white;
    width: 20rem;
    position: right;
}

.burger-menu li {
    list-style: none;
    color: #3E2723;
}

a:link 
{ 
 text-decoration:none; 
} 