@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,900&display=swap');

h1{
    font-family: 'Montserrat';
    font-weight: 300;
    color: #3E2723;
    font-size: 2rem;
}

.title{
    color: white;
    font-size: 2rem;
}

img{
   min-width: 100%;
}

body{
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

.gallery button{
    border: none;
    padding: 0;
    min-width: 100%;
    height: auto;
}

.bg-pastery{
    background-color: #3E2723;
}

.gallery{
    position: relative;
    top: 5rem;
}

.carousel-inner img{
    min-width: 33%;
}

.img-galery-theme{
    width: 33%;

}

i{
    font-size: 3rem;
    color: white;
}

nav i{
    font-size: 1.5rem;
}

a p, a p i{
    font-size: 1em;
    color: #3E2723;
}

.close-modal-img{
    position: relative;
    right: 5rem;
    top:1rem;
}
.navbar{
    height: 4rem;
}
.burger-menu{
    position:absolute;
    width: 20rem;
    top:4rem;
    right: 0;
    z-index: 20;
}

.burger-menu ul{
    position: relative;
    background-color: white;
    width: 20rem;
    position: right;
}

.burger-menu li{
    list-style: none;
    color: #3E2723;
}


/* .div-img img {
    width: 90rem;
    height: auto;
}

.div-img1 img {
    width: 2rem;
    height: auto;
}

.div-img2 img {
    width: 1.5rem;
    height: auto;
}

.marginMention {
    margin-left: 10rem;
}

.marginCoordonéesMobile {
    margin-top: 1.8rem;
}

.footer {
    background-color: #6A4F4B;
}

h1 {
    font-size: 4rem;
}

.h1Mobile {
    font-size: 1rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.contactInformationSize {
    font-size: 2rem;
    margin-left: 0.2rem;
    margin-bottom: 2rem;
    color: #707070;
}

p {
    font-size: 1.2rem;
    padding-right: 6rem;
    color: #707070;
}

.pMobile {
    font-size: 0.7rem;
    padding-left: 3.2rem;
    color: #707070;
}

.paddingContainer {
    padding-bottom: 13rem;
    margin-bottom: 5rem;
}

.paddingMobile {
    padding-bottom: 1.8rem;
    margin-bottom: 5rem;
}


.container .container-fluid .row {
    background-color: #DCDCDC;
    text-align: center;
    display: flex;
    float: none;
}

.row {
    text-align: center;
    margin: 1rem;
}

.form-textarea {
    align-content: center;
    margin: auto;
}

.button {
    margin-left: 2rem;
} */