body {
    background-color: white;
}

.headerBackground {
    background-color: #3E2723;
}

.container .row{
    background-color: #DCDCDC;
}

img {
    width: 5rem;
    height: 5rem;
}

.div-img img {
    width: 30rem;
    height: 30rem;
}

.form-form {
    margin-left: 2rem;
}

.row {
    position: absolute;
    align-content: center;
}

.checkbox {
    align-content: left;
}
.radio2 {
    margin-left: 3rem;
}
.controlTextarea1 {
    
}