@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,900&display=swap');


body,
html {
    background-color: #F2F2F2;
}


.burger-menu {
    position: absolute;
    width: 20rem;
    top: 4rem;
    right: 0;
    z-index: 20;
}

.burger-menu ul {
    position: relative;
    background-color: white;
    width: 20rem;
    position: right;
}

.burger-menu li {
    list-style: none;
    color: #3E2723;
}

nav i {
    font-size: 1.5rem;
}

a p, a p i{
    font-size: 1em;
    color: #3E2723;
}
img{
    min-width: 100%;
 }
.headerBackground {
    background-color: #3E2723;
    color: white;
}

.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding-top: rem;
}

[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;
    color: black;
}

p {
    padding: 1rem;
    font-size: 14px;
    border-color: black;
    text-align: left;
    background-color: white;
}

.card-title {
    text-align: left;
}

.textarea {
    text-align: center;
    height: auto;
}
.button {
    background-color: #3E2723;

}
.more {
    background-color:  #F2F2F2;
    padding-left: 10rem;
}
.code {
    align-content: space-between;
}
.btn {
    background-color: #3E2723;
    color: white;
}
.btn:hover {
    color: white;
}