html,
body {
    background-color: #DCDCDC;
    color: white;
    height: 100%;
}

.headerBackground {
    background-color: #3E2723;
    color: white;
}

.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding-top: rem;
}

[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;
    color: black;
}

p {
    padding: 1rem;
    font-size: 14px;
    border-color: black;
    text-align: left;
    background-color: white;
}

img {
    width: 5rem;
    height: 5rem;
}

.div-img img {
    width: 30rem;
    height: 30rem;
}

.card-title {
    text-align: left;
}

.textarea {
    text-align: center;
    height: auto;
}
.button {
    background-color: #3E2723;

}
.more {
    background-color: #DCDCDC;
    padding-left: 15rem;
}
.code {
    align-content: space-between;
}
.btn {
    background-color: #3E2723;
    color: white;
}
.btn:hover {
    color: white;
}